.component.subnav {
  border-bottom: $border-width solid $gray;
  z-index: $z-index-subnav;
  background: $white;
  list-style: none;
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $subnav-height;
    margin: 0 10px;
    padding: 18px 0;
    line-height: 1.2;
    border-bottom: $border-width-widest solid transparent;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border-bottom-color: $text-color-header;
    }

    a {
      text-decoration: none;
      color: $text-color-header;
    }
  }

  &.fixed {
    position: fixed;
    width: 100%;
  }

  &.js-fixed {
    position: fixed;
    width: 100%;
    top: $nav-offset;
  }

  @media screen and (max-width: $screen-xs-max) {
    display: none;
  }
}

.subnav-placeholder {
  @media screen and (max-width: $screen-xs-max) {
    display: none;
  }
}

// nav hiding support
.component.subnav.js-fixed  {
  transition: top $transition-duration-medium ease;
}
body.nav-hide .component.subnav.js-fixed {
  top: 0;
}
